#categories
  .category-list-title
    color: $color-meta
  .category-list
    .category-list-item
      list-style:'#'
      font-weight: bold
      color: #8d3b34
      font-size: 17.5px
    .category-list-count
        color: $color-meta
        font-size: 14px


